# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[{*.go,Makefile}]
indent_style = tab

[*.clj,*.dart,*.js,*.rb,*.yml,*.yaml]
indent_size = 2

[*.sql]
insert_final_newline = false

[*.txt]
trim_trailing_whitespace = false
