.cache
.calva/
.DS_Store
.tool-versions
.vscode
*.exe
*.hi
*.log
*.o
*.out
*.py[oc]
*.res
*.s
*.swp
*~
\?/
compiledFromTSFile.js
Main.class
main.cmi
main.cmo
Main.java
main.kt
result-*.txt
!.clojure/\?
