---
name: Lint
on:
  push:
    paths-ignore:
      - '.cache/**'
      - '.docker/**'
      - '!.docker/lint/**'
      - '.gitignore'
      - '*.md'
      - '*.txt'
      - 'misc/**'
  schedule:
    - cron: '0 0 1 * *'  # Run on the 1st day of every month at midnight UTC
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download previous failed files
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow: lint.yaml
          search_artifacts: true
          name: failing-changed-files-for-lint
          path: /tmp
          if_no_artifact_found: ignore
      - name: Determine lint scope
        id: lint-scope
        run: |
          if [[ "${{ github.event_name }}" == "schedule" ]]; then
            echo "lints=" >> $GITHUB_OUTPUT
          else
            ./scripts/github-actions/determine-lint-scope.sh ${{ github.event.before }} ${{ github.event.after }} || echo "lints=" >> $GITHUB_OUTPUT
          fi
      - name: Upload current files to check
        uses: actions/upload-artifact@v4
        with:
          name: failing-changed-files-for-lint
          path: failing-changed-files-for-lint.txt
          retention-days: 7
      - name: Run linters
        id: run-linters
        run: |
          if [[ -n "${{ steps.lint-scope.outputs.lints }}" ]]; then
            make lint ENVIRONMENTS="${{ steps.lint-scope.outputs.lints }}"
          else
            make lint
          fi
      - name: Check if wrong files have a error description
        run: make check-wrongs
      - name: Check if tags are correct
        run: make check-tags
      - name: Create empty file
        if: success()
        run: |
          echo "" > failing-changed-files-for-lint.txt
      - name: Upload success (empty file)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: failing-changed-files-for-lint
          path: failing-changed-files-for-lint.txt
          retention-days: 7
          overwrite: true
