---
name: Test
on:
  push:
    paths:
      - '.github/**'
      - 'Makefile'
      - 'scripts/**'
      - 'tests/**'
  schedule:
    - cron: '0 0 1 * *'  # Run on the 1st day of every month at midnight UTC
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run tests
        run: make test
